.tableTransactionHistory {
  width: 600px;
  /*outline: 1px solid #1a1a1a;*/
  border-collapse: collapse; /* Видаляє зайві відступи між комірками */
}

.tableTransactionHistory th {
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
  padding: 4px;
  outline: 1px solid #333333;
}

.tableTransactionHistory tr:nth-child(odd) {
  background-color: #ffffff;
}

.tableTransactionHistory tr:nth-child(even) {
  background-color: #b6adad;
}

.tableTransactionHistory td {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  outline: 1px solid #333333;
  text-transform: capitalize;
}
